<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging Website</title>
    <script src="https://kit.fontawesome.com/be90481885.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Welcome to my blogging website</h1>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/"><i class="fab fa-github"></i></a>
</body>
</html>
