<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h1 class="mb-1">Edit the Blog</h1>
            <form action="/views/blogs/<%= blogs.id%>?_method=PUT" method="POST"></form>
        </div>
    </section>
</body>
</html>